@model BuiQuocHuy_BTCK_C_.Models.PhongBan

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết</h1>

<div>
    <h4>Phòng ban</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Mã phòng ban
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaPB)
        </dd>
        <dt class="col-sm-2">
            Tên phòng ban
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenPB)
        </dd>
        <dt class="col-sm-2">
            Tạo bởi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class="col-sm-2">
            Ngày tạo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            Sửa bởi
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedById)
        </dd>
        <dt class="col-sm-2">
            Ngày sửa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary"> <i class="fa fa-pen"></i> Chỉnh sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</div>
