@model IEnumerable<BuiQuocHuy_BTCK_C_.Models.PhongBan>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách phòng ban</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary"><i class="fa fa-plus"></i> Thêm mới dữ liệu</a>
</p>
<div class="card">
    <div class="card-header">
        <h3 class="card-title"></h3>
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Mã phòng ban
            </th>
            <th>
                Tên phòng ban
            </th>
            <th>
                Tạo bởi
            </th>
            <th>
                Tạo vào ngày
            </th>
            
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaPB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenPB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedById)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa fa-pen"></i> Sửa</a>

                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning"><i class="fa fa-eye"></i> Xem</a>

                </td>
                <td>

                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i> Xóa</a>
                </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
