@model BuiQuocHuy_BTCK_C_.Models.ThongBao

@{
    ViewData["Title"] = "Delete";
}

<h1></h1>

<h3>Bạn chắc chắn muốn xóa chứ?</h3>
<div>
    <h4>Chi tiết thông báo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tiêu đề
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt class = "col-sm-2">
            Mô tả
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            Thể loại
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheLoai.Id)
        </dd>
        <dt class = "col-sm-2">
            Tạo bởi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class = "col-sm-2">
            Tạo vào ngày
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
           Sửa bởi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedById)
        </dd>
        <dt class = "col-sm-2">
            Sửa vào ngày
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>
